<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Ecomsur</title>
  <link rel="stylesheet" href="/static/css/main.css">
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous"
    >
</head>

<body>
  <section id="app"></section>
  <script src="/static/js/main.bundle.js"></script>
  <script src="https://kit.fontawesome.com/473d269aa9.js" crossorigin="anonymous"></script>
</body>
</html>